.background {
    #lplant {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 70%;
        width: auto;
        z-index: -1;
    }
    #rplant {
        position: fixed;
        top: 0;
        right: 0;
        height: 70%;
        width: auto;
        z-index: -1;
    }
}